/* football field css */
#football-field {
    background: url("http://www.sportslogos.net/teams/list_by_league/1/National_Football_League/NFL/logos/2013/2013_Regular_Season/Chicago_Bears/Chicago_Bears_primary_logo_2013.png") no-repeat center center;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}